body{
    font-family:Arial,sans-serif;
    font-size:16px;
}

h1{
   font-family:Arial,sans-serif;
   font-size:28px;
   margin:15px auto;
   background: skyblue;
   width: 100%;
   text-align: center;  
}

h2{
  font-family:Arial,sans-serif;
   font-size:20px;
   margin:15px auto;
   text-align: center;  
}
}




a{
    text-decoration: none;
}

table{
    margin:15px auto;
    border: 1px solid #ddd;
    /*セルのボーダーの表示の仕方を指定する*/
    border-collapse:collapse;
}

th{
    background:#eee;
}

th,td{
    padding: 7px;
    text-align:center;
}

.title{
    margin: 0 auto;
}
}


/* 土曜日の色付け*/
.youbi_6{
    color: blue;
}

/* 日曜日の色付け*/
.youbi_0{
    color: red;
}

.today{
    font-weight: bold;
    color:#3762b3;
}

.gray{
    color:#dedede;
}



